#landing,
#body {
    background-image: url('../images/slider.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Fira Sans", serif;
}

body {
      font-family: "Fira Sans", serif;
      font-weight: lighter;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;

}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid white;
    padding: 10px;
    border-radius: 40px 10px;
}
/*
#aboutLink:before{
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}

#aboutLink:hover::before{
width: 100%;
}
*/


#aboutLink:hover{
  text-decoration: none;
  transition: all 2s ease;
  background-color: grey;
  color: white;
}

#skillsLink:hover{
  text-decoration: none;
  transition: all 2s ease;
  background-color: grey;
  color: white;
}
#teamLink:hover{
  text-decoration: none;
  transition: all 2s ease;
  background-color: grey;
  color: white;
}
#projectsLink:hover{
  text-decoration: none;
  transition: all 2s ease;
  background-color: grey;
  color: white;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

#landing {
    padding-top: 56px;
}

#landing h1 {
    font-weight: bold;
    color: #17a2b8;
}

.textIntro {
    border-radius: 50%;
}

.socialLinks {
    padding-top: 20px;
}

#landing p {
    font-weight: bold;
    color: #17a2b8;
    /*
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	*/
}


#landing .btn {
    background-color: white;
    color: #17a2b8;
    border: solid 1px #17a2b8;
}

.enterBtn {
    padding: 0px;
    margin-top: 20px;
    border-radius: 50%;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    background-color: #17a2b8!important;
    color: white!important;
}

@media (max-width: 992px) {
    .enterBtn,
    .text {
        display: none;
    }
}

article {
    padding-top: 70px;
    padding-bottom: 70px;
}

.skillCardWrap,
.projectWrap {
    padding: 15px;
}
.AboutUsCardWrap {
    padding-left: 25px;
}

.skillCardWrap .container,
.projectWrap .container {
    padding: 20px;
    background-color: rgba(238, 240, 243, 0.75);
    min-height: 12em;
    transition: 0.5s;
}
#aboutUs{
   background-image: url('../images/slider1.jpg');
   margin-left: 13%;
   margin-right: 13%;
    background-color: white;
    font-family: calibri;
    font-size: 16pt;
    padding-left: 450px;
}


.skillCardWrap .container:hover,
.projectWrap .container:hover {
    padding: 20px;
    background-color: rgba(238, 240, 243, 0.9);
    transform: scale(1.05);
}

#skills ul.kiso {
    list-style: none;
}
#skills ul.muhamed {
    list-style: none;
    padding-left: 80px;
}
#skills ul.muhamed1 {
    list-style: none;
    padding-left: 100px;
}
#skills ul.kiseli {
    list-style: none;
    padding-right: 90px;
}
#skills ul.kiseli1 {
    list-style: none;
    padding-left: 75px;
}
#skills ul.kiseli2 {
    list-style: none;
    padding-left: 75px;
  }
.skillSubHead {
  padding-left: 229px;
  font-family: calibri;
  font-size: 21pt;
  font-weight: bold;
}
.skillSubHead7 {
  padding-left: 242px;
  font-family: calibri;
  font-size: 21pt;
  font-weight: bold;
}
.skillSubHead1 {
  padding-left: 120px;
  font-family: calibri;
  font-size: 21pt;
  font-weight: bold;
}
.skillSubHead2 {
  padding-left: 30px;
  font-family: calibri;
  font-size: 19pt;
  font-weight: bold;
}
.skillSubHead6 {
  padding-left: 150px;
  font-family: calibri;
  font-size: 21pt;
  font-weight: bold;
}

.teamMember {
    margin-bottom: 15px;
}

.teamMember img {
    border-radius: 50%;
}

.teamMember h4,
.teamMember p {
    width: 100%;
    text-align: center;
}

.teamMember p {
    padding-top: 15px;
    display: none;
}

.memberSocialLinks {
    text-align: center;
}


#team {
    width: 100%;
}

#skills,
#projects {
    background: rgba(255, 255, 255, 0.4);
    /*color: #17a2b8;*/
}

footer {
    color: white;
    padding: 25px;
    text-align: center;
    background-color: black;
}

footer p {
    margin: 5px;
}

.pass {
    position: relative;
}

.passIcon {
    position: absolute;
    top: 10%;
    padding: 9px 8px;
    left: 90%
}

.passIcon2 {
    position: absolute;
    top: 10%;
    padding: 9px 8px;
    left: 90%
}

.em {
    position: relative;
}

.emIcon {
    position: absolute;
    top: 10%;
    padding: 9px 8px;
    left: 90%
}
.kiso li .home {
    background: #a3d39c;
}

.kiso li .home:hover i:before {
    content:"wdiwhdiwhd";
}
.combe{
  margin-left: -45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: calibri;
}
