.jumbotron {
    background-image: url('../images/article1_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

article{
	padding-top: 70px;
}

.teamMember p, .teamMember a{
	width: 100%;
	text-align: center;
}