#landing, body {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#landing{
	padding-top: 56px;
}

#landing h1{
	font-weight: bold;
	color: #17a2b8;
}

.textIntro{
	border-radius: 50%;
}

.socialLinks{
	padding-top: 20px;
}

#landing p{
	font-weight: bold;
	color: #17a2b8;
	/*
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	*/
}

#landing .btn{
	background-color: white;
	color: #17a2b8;
	border: solid 1px #17a2b8;
}

.enterBtn{
	padding: 0px;
	margin-top: 20px;
	border-radius: 50%;
	font-size: xx-large;
	width: 50px;
	height: 50px;
	background-color: #17a2b8!important;
	color: white!important;
}
@media (max-width: 992px) {
	.enterBtn{
		display: none;
	}
}

article{
	padding-top: 70px;
	padding-bottom: 70px;
}

.teamMember p, .teamMember a{
	width: 100%;
	text-align: center;
}
#aboutUs, #team{
	background-color: white;
	width: 100%;
}
#skills, #projects{
	background: rgba(255,255,255,0.4);
	/*color: #17a2b8;*/
}
footer{
color: white;
padding: 25px;
}
footer p{
	margin: 5px;
}